<!-- footer.ejs -->

</main>
<footer>
  <div class="footer-content">
    <div class="info-section" id="contact">
      <h3>Contact Us</h3>
      <p>Email: info@example.com</p>
      <p>Phone: +1 (123) 456-7890</p>
    </div>
    <div class="info-section" id="about">
      <h3>About Us</h3>
      <p>Our user-friendly platform streamlines tasks such as student information management, staff scheduling, attendance tracking, and grade recording. With a focus on communication and collaboration, we empower educators, administrators, students, and parents to enhance the educational experience. Join us today and experience the power of the High School Management System.</p>
    </div>
  </div>
  <p>&copy; 2024 Your High School. All rights reserved.</p>
</footer>
<script src="/script.js"></script>
</body>

</html>
 