<header>
    <button id="toggleButton"><i class="fa-solid fa-bars"></i></button>
    <div class="header-text">Student Dashboard</div>
    <div class="user-icon" id="user-icon" style="background-color: cadetblue; display:flex; justify-content:center; align-items:center">
      <%= adminName.charAt(0) %>
    </div>
    <div class="opt" id="opt">
        <a href="/logout" class="nav_link"> 
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="nav_name"> &nbsp;&nbsp;Logout</span> 
        </a> 
        
  </div>
    </div>
</header>
  <div class="sidebar">
    
      <div class="nav_list"> 
        <a href="adminDashboard" class="nav_link active"> 
          <i class="fa-solid fa-house"></i>
          <span class="nav_name">&nbsp;&nbsp; Home</span> 
        </a> 
        <a href="addStudent" class="nav_link active"> 
          <i class="fa-solid fa-book-open"></i>
          <span class="nav_name">&nbsp;&nbsp; Add Student</span> 
        </a> 

        <a href="addTeacher" class="nav_link"> 
          <i class="fa-solid fa-book"></i>
          <span class="nav_name">&nbsp;&nbsp; Add Teacher</span> 
        </a> 
        <a href="#" class="nav_link"> 
          <i class="fa-solid fa-clipboard-user"></i>
          <span class="nav_name">&nbsp;&nbsp; Attendance</span> 
        </a> 
        <a href="seeComplain" class="nav_link"> 
          <i class="fa-solid fa-triangle-exclamation"></i>
          <span class="nav_name"> &nbsp;&nbsp;Complain</span> 
        </a> 
        <hr>
        <p style="color: #d5d5d5; margin-left:15px;">User Info</p>
        <a href="/logout" class="nav_link"> 
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="nav_name"> &nbsp;&nbsp;Logout</span> 
        </a> 
      </div>
  </div>
</div>