<header>
    <button id="toggleButton"><i class="fa-solid fa-bars"></i></button>
    <div class="header-text">Student Dashboard</div>
    <div class="user-icon">
        
         <img src="../public/images/download.jpg" alt="User Icon"> 
    </div>
</header>
  <div class="sidebar">
    
      <div class="nav_list"> 
        <a href="studentDashboard" class="nav_link active"> 
          <i class="fa-solid fa-house"></i>
          <span class="nav_name">&nbsp;&nbsp; Home</span> 
        </a> 
        <a href="studentSubject" class="nav_link"> 
          <i class="fa-solid fa-book"></i>
          <span class="nav_name">&nbsp;&nbsp; Subjects</span> 
        </a> 
        <a href="#" class="nav_link"> 
          <i class="fa-solid fa-clipboard-user"></i>
          <span class="nav_name">&nbsp;&nbsp; Attendance</span> 
        </a> 
        <a href="studentComplain" class="nav_link"> 
          <i class="fa-solid fa-triangle-exclamation"></i>
          <span class="nav_name"> &nbsp;&nbsp;Complain</span> 
        </a> 
        <hr>
        <p style="color: #d5d5d5; margin-left:15px;">User Info</p>
        <a href="/studentProfile" class="nav_link"> 
          <i class="fa-solid fa-address-card"></i>
          <span class="nav_name"> &nbsp;&nbsp;Profile</span> 

        </a> 
        <a href="/logout" class="nav_link"> 
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="nav_name"> &nbsp;&nbsp;Logout</span> 
        </a> 
      </div>
  </div>
</div>