<%-include ('partials/header.ejs', { pageTitle: 'Home Page' })%>
<!DOCTYPE html>
<html>
  <head>
    <title>Horizontal Divs with Links</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <style>
      header {
        position: absolute;
      }
      .box {
        padding: 20px;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .card-link {
        display: block;
        height: 200px;
        background-color: white;
        transition: background-color 0.3s, color 0.3s;
        display: block;
        height: 300px;
        border: solid rgb(137, 124, 124) 1px;
        margin: 5px;
        width: 100%;
      }

      .card-link:hover {
        background-color: rgb(0, 0, 0);
        color: white;
      }

      .card-link:hover .card-body {
        color: white;
        background-color: rgb(37, 19, 19);
      }
      footer {
        margin-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="/students" class="card-link">
            <div class="box">
              <i class="fa-solid fa-graduation-cap fa-2xl"></i>
              <br />
              <br />
              <h1>Student</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Cupiditate officiis quidem repellendus, excepturi quo nihil
                quisquam,
              </p>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/teachers" class="card-link">
            <div class="box">
              <i class="fa-solid fa-users fa-2xl"></i>
              <br />
              <br />
              <h1>Teacher</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Cupiditate officiis quidem repellendus, excepturi quo nihil
                quisquam,
              </p>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="https://example.com" class="card-link">
            <div class="box">
              <i class="fa-solid fa-lock fa-2xl"></i>
              <br />
              <br />
              <h1>Admin</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Cupiditate officiis quidem repellendus, excepturi quo nihil
                quisquam,
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <%-include('partials/footer.ejs') %>
  </body>
</html>
