<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      body {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      .dashboard-container {
        background-color: #f4f4f4;
        padding: 20px;
        transition: transform 0.8s ease-in-out;
      }

      .dashboard-section {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px;
        padding: 25px;
        height: 300px;
        width: 300px;
        display: grid;
    justify-content: center;
        
      }
      
    
    .sidebar {
        height: 100vh;
        width: 250px;
        background-color: white; /* Dark background color for the sidebar */
        color: black;
        position: fixed;
        left: -250px;
        transition: 0.5s;
        overflow-y: auto; /* Allow scrolling if content exceeds sidebar height */
        padding-top: 20px;
        margin-top: 40px;
    }
    
    .sidebar a {
        text-decoration: none;
        color: black;
        padding: 10px 15px;
        display: block;
        transition: background-color 0.3s;
    }
    
    .sidebar a:hover {
        background-color: #acacac; /* Darker background color on hover */
    }
    
    .main-container {
        margin-left: 0;
        margin-top: 60px;
        transition: margin-left 0.5s;
        padding: 20px;
        background-color: #fff; /* Light background color for the main container */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    }
    
    header button {
        margin-bottom: 15px;
        background-color: inherit;
        color: rgb(55, 54, 54);
        border: none;
        
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .main-container button:hover {
        background-color: rgb(25, 118, 210); /* Darker background color on hover */
    }
      
  /* header section */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(25, 118, 210); /* Dark background color for the header */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    
}

.header-text {
    font-size: 18px;
    font-weight: bold;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff; /* Background color for the circular icon */
    overflow: hidden;
    margin-left: 80%;
}

.user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .info-above{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    

  }
  .info-below{
    background-color: white;
    color: black;
    font-weight: bold;
    height: 400px;
    padding: 25px;
    display: grid;
    justify-content: center;
  }
    </style>
  </head>

  <body>
    
    <header>
      <button id="toggleButton"><i class="fa-solid fa-bars"></i></button>
      <div class="header-text">Student Dashboard</div>
      <div class="user-icon">
          
           <img src="../public/images/download.jpg" alt="User Icon"> 
      </div>
  </header>
    <div class="sidebar">
      
        <div class="nav_list"> 
          <a href="#" class="nav_link active"> 
            <i class="fa-solid fa-house"></i>
            <span class="nav_name">&nbsp;&nbsp; Home</span> 
          </a> 
          <a href="#" class="nav_link"> 
            <i class="fa-solid fa-book"></i>
            <span class="nav_name">&nbsp;&nbsp; Subjects</span> 
          </a> 
          <a href="#" class="nav_link"> 
            <i class="fa-solid fa-clipboard-user"></i>
            <span class="nav_name">&nbsp;&nbsp; Attendance</span> 
          </a> 
          <a href="#" class="nav_link"> 
            <i class="fa-solid fa-triangle-exclamation"></i>
            <span class="nav_name"> &nbsp;&nbsp;Complain</span> 
          </a> 
          <hr>
          <p style="color: #d5d5d5; margin-left:15px;">User Info</p>
          <a href="/studentProfile" class="nav_link"> 
            <i class="fa-solid fa-address-card"></i>
            <span class="nav_name"> &nbsp;&nbsp;Profile</span> 

          </a> 
          <a href="#" class="nav_link"> 
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="nav_name"> &nbsp;&nbsp;Logout</span> 
          </a> 
        </div>
    </div>
  </div>
    <!--Container Main start-->
    <main class="height-100 bg-light main-container">
      
        
      </main>
    </div>

    <%-include('partials/footer.ejs') %>

